<div class="layout">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h2 class="title">Kho Tools</h2>

    <ul class="menu">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Trang chủ
        </a>
      </li>

      <li>
        <a routerLink="/tinhlai" routerLinkActive="active"> Tính lãi vay </a>
      </li>

      <li>
        <a routerLink="/licham" routerLinkActive="active"> Lịch âm </a>
      </li>

      <li>
        <a routerLink="/luonghuu" routerLinkActive="active"> Tính lương hưu </a>
      </li>
      <li>
        <a routerLink="/thuetncn" routerLinkActive="active"> Tính thuế TNCN </a>
      </li>

      <li>
        <a routerLink="/tide" routerLinkActive="active"> TThủy triều </a>
      </li>
    </ul>
  </nav>

  <!-- Content -->
  <main class="content">
    <div class="content-box">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
